

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;

}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.states {
    fill:#FEFCC3;
    stroke: #FFAC24;
    stroke-width: 3px;
}

.neighborhood {
    fill:#B7DFF5;
    stroke: #000000;
    stroke-width: 1px
}
